/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*::after,
&::before {
    box-sizing: border-box;
    line-height: 1.5px;
}

@font-face {
    font-family: 'PingFangTC';
    src: url(./PingFang\ \(Semibold\)\ \(2\).ttf);
}

.body_all {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    max-width: 1024px;
    padding-top: 30px;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
    margin-bottom: 60px;
}

.dehaze_picture01 {
    width: 18px;
    height: 12px;
}

.header_sweet_logo_01 {
    width: 219.49px;
    height: 40px;
}

.header_sweet_logo_02 {
    width: 114.14px;
    height: 17.74px;
}

.header_ul {
    display: flex;
    align-items: center;
    margin-left: 401.51px;
}

.header_ul li {
    margin-right: 60px;
}

.header_ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: PingFangTC, Semibold;
    color: #3F5D45;
}


.header_shopping_div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.shopping_picture {
    width: 24px;
    height: 24px;
}

/* -----------------------section------------------------------ */

section {
    max-width: 1024px;
    display: flex;
    margin-bottom: 65px;
    padding-left: 122px;
}

.section_form {
    width: 460px;
    background-color: #3F5D45;
    margin-right: 20px;
}

.patr_01 {
    width: 380px;
    display: flex;
    flex-direction:column;
    margin-left: 40px;
}

.patr_01 ul{
    display: flex;
}

.transport li{
    font-family: PingFangTC, Semibold;
    font-size: 36px;
    line-height: 20px;
    color: #EAF0ED;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section_form_word {
    font-family: PingFangTC, Semibold;
    font-size: 20px;
    line-height: 20px;
    color: #EAF0ED;
    margin-bottom: 8px;
}

.section_form_small_W {
    font-size: 16px;
    line-height: 20px;
    color: #8DA291;
    margin-top: 16px;
    margin-bottom: 16px;
}

.all_form {
    background-color: #EAF0ED;
    width: 186px;
    padding-left: 20px;
}

.num_m {
    margin-right: 143px;
}

.credit_card_logo {
    width: 20px;
    height: 16px;
}

.h2_m {
    margin-top: 16px;
}

.h3_m {
    margin-right: 8px;
}

.h4_m {
    width: 186px;
}

.all_long_form {
    background-color: #EAF0ED;
    padding-left: 20px;
}

.citi {
    width: 380px;
    display: flex;
}

.citi_ul {
    align-items: center;
}

.citi_ul01{
    margin-right: 8px;
}

.Kaohsiung {
    margin-right: 106px;
}

.citi_p {
    display: flex;
    flex-direction:column;
}

.citip_01 {
    width: 15px;
}

.part_02 {
    margin-top: 34px;
    background-color: #FFE180;
    width: 460px;
    display: flex;
    justify-content:center;
}

.part_02 p{
    font-family: PingFangTC, Semibold;
    font-size: 24px;
    line-height: 20px;
    color: #3F5D45;
    margin-top: 19px;
    margin-bottom: 13px;
}

.Order_card {
    width: 300px;
}

.Order_card_div {
    border: 1px solid #EAF0ED;
}

.Order {
    width: 300px;
    background-color: #EAF0ED;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.Order li {
    font-family: PingFangTC, Semibold;
    font-size: 24px;
    line-height: 20px;
    color: #8DA291;
    margin-top: 16px;
    margin-bottom: 16px;
}

.Order_word {
padding-left: 20px;
padding-right: 20px;
}

.Order_word li {
    display: flex;
    justify-content:space-between;
}

.Order_word li .small_w {
    font-size: 16px;
    line-height: 20px;
    color: #8DA291;
}

.small_w01 {
    margin-bottom: 8px;
}

.small_w02 {
    margin-bottom: 16px;
}

.Order_word li .big_w {
    font-family: PingFangTC, Semibold;
    font-size: 20px;
    line-height: 20px;
    color: #8DA291;
}

.Checklist_card_div {
    border: 1px solid #EAF0ED;
}

.Checklist {
    width: 300px;
    background-color: #EAF0ED;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.Checklist li {
    font-family: PingFangTC, Semibold;
    font-size: 24px;
    line-height: 20px;
    color: #8DA291;
    margin-top: 16px;
    margin-bottom: 16px;
}

.Checklist_word_p {
    padding-left: 20px;
    padding-right: 20px;
}

.Checklist_word_p li {
    display: flex;
    align-items:center;
}

.Checklist_word_p li img {
    width: 120px;
    height: 80px;
    margin-bottom: 16px;
    margin-right: 20px;
}

.Checklist_word_p li p {
    display: flex;
    flex-direction:column;
}

.Checklist_word_p p .small_w {
    font-size: 16px;
    line-height: 20px;
    color: #8DA291;
}

.Checklist_word_p p .big_w {
    font-family: PingFangTC, Semibold;
    font-size: 20px;
    line-height: 20px;
    color: #8DA291;
}





/* -----------------------footer------------------------------- */

footer {
    max-width: 1024px;
}

.footer_mail {
    display: flex;
    max-width: 1024px;
    background-color: #3F5D45;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 122px;
    padding-right: 122px;
}

.footer_mail ul {
    display: flex;
    align-items: center;
}

.footer_light {
    margin-right: 20px;
}

.footer_light_logo {
    width: 40px;
    height: 40px;
}

.footer_su {
    margin-right: 124px;
    font-family: Helvetica Neue, Regular;
    font-size: 24px;
    color: #EAF0ED;
}

.mail {
    background-color: #EAF0ED;
}

.mail_logo {
    margin-right: 272px;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 24px;
    height: 24px;
}

.arrow {
    background-color: #FFE180;
}

.arrow_logo {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 16px;
    height: 16px;
}

.footer_fb_ig {
    display: flex;
    max-width: 1024px;
    background-color: #EAF0ED;
    padding-top: 30px;
    padding-left: 122px;
    padding-right: 122px;
}

.s_g_07 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sweet_logo {
    width: 171.2px;
    height: 26.6px;
    margin-bottom: 115.5px;
}

.number {
    font-family: Helvetica Neue, Regular;
    font-size: 16px;
    color: #3F5D45;
}

.goodday_p {
    width: 59.28px;
    height: 218.69px;
    margin-left: 721.3px;
    margin-top: -210.1px;
    margin-bottom: 46.31px;
}

.fb_logo {
    width: 32px;
    height: 32px;
}

.ig_logo {
    width: 32px;
    height: 32px;
}

.fb {
    margin-left: 40px;
    margin-top: -34px;
}

.w_2018 {
    margin-left: 522px;
    margin-top: -16px;
    margin-bottom: 30px;
}

@media (max-width: 376px) {

    .body_all {
        max-width: 375px;
        /* margin: 0 auto; */
    }

    header {
        max-width: 375px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    .header_ul {
        display: none;
    }

    .header_sweet_logo_01 {
        width: 114.14px;
        height: 17.74px;
    }

    .dehaze_picture {
        width: 24px;
        height: 24px;
    }

    .header_p01 {
        margin-right: 76.85px;
    }

    .header_p02 {
        margin-right: 76.01px;
    }

    .header_shopping_div {
        margin-left: 0px;
    }

    /* -----------------------section(max-width: 376px)------------------------------ */

    section {
        max-width: 375px;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    
    .section_form {
        width: 375px;
        margin-right: 0px;
    }
    
    .patr_01 {
        width: 315px;
        margin-left: 30px;
    }
    
    .all_form {
        width: 153px;
    }

    .num_m {
        margin-right: 78px;
    }
    
    .h2_m {
        margin-right: 120px;
    }
    
    .h3_m {
        margin-right: 9px;
    }
    
    .citi {
        width: 315px;
    }
    
    .Kaohsiung {
        margin-right: 75px;
    }

    .h4_m {
        width: 153px;
    }

    .part_02 {
        width: 375px;
    }
    
    .part_02 p{
        margin-top: 25px;
        margin-bottom: 19px;
    }
    
    .Order_card {
        display: none;
    }

    /* -----------------------footer(max-width: 376px)------------------------------- */

    footer {
        max-width: 375px;
    }

    .footer_mail {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        background-color: #3F5D45;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 0px;
    }

    .footer_su {
        margin-right: 0px;
    }

    .footer_mail_01 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer_mail_02 {
        margin-bottom: 30px;
    }

    .mail_logo {
        margin-right: 207px;
    }

    .footer_fb_ig {
        display: flex;
        max-width: 375px;
        background-color: #EAF0ED;
        padding-top: 38.9px;
        padding-left: 30.07px;
        padding-right: 0px;
    }

    .s_g_07 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sweet_logo {
        margin-bottom: 39.5px;
    }

    .goodday_p {
        display: none;
    }

    .number {
        margin-bottom: 37px;
    }

    .fb {
        margin-left: 40px;
        margin-top: -35.5px;
        margin-bottom: 23px;
    }

    .w_2018 {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

}